<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyuko.mall.product.dao.ProductCategoryDao">

    <select id="getProductCategory" resultType="com.yuyuko.mall.product.dto.ProductCategoryDTO">
        select id,name,is_leaf
        from product_category
        where parent_id = #{categoryId}
    </select>
</mapper>
