<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuyuko.mall.order.dao.OrderDao">

    <insert id="createOrders">
        insert into `order`
        (id,user_id, shop_id, shop_name, status, payment_method, total_price,
        delivery_fee, actual_payment, delivery_method,
        time_expected_delivery, consignee_name, consignee_phone_number,
        delivery_address) values
        <foreach collection="list" item="order" separator=",">
            (#{order.id},#{order.userId},#{order.shopId},#{order.shopName},#{order.status},
            #{order.paymentMethod},#{order.totalPrice},#{order.deliveryFee},
            #{order.actualPayment},#{order.deliveryMethod},
            #{order.timeExpectedDelivery},#{order.consigneeName},
            #{order.consigneePhoneNumber},#{order.deliveryAddress}
            )
        </foreach>
    </insert>
    <insert id="insert">
        insert into `order` (id, user_id, shop_id, shop_name, status, payment_method, total_price,
                             delivery_fee, actual_payment, delivery_method,
                             time_expected_delivery, consignee_name, consignee_phone_number,
                             delivery_address, time_create)
        values (#{id}, #{userId}, #{shopId}, #{shopName}, #{status}, #{paymentMethod},
                #{totalPrice}, #{deliveryFee}, #{actualPayment}, #{deliveryMethod},
                #{timeExpectedDelivery}, #{consigneeName}, #{consigneePhoneNumber},
                #{deliveryAddress}, #{timeCreate});
    </insert>
    <update id="updateOrderStatus">
        update `order`
        set status = #{status}
        where id = #{id}
    </update>
    <select id="getOrder" resultType="com.yuyuko.mall.order.dto.OrderDTO">
        select id,
               user_id,
               shop_id,
               shop_name,
               status,
               payment_method,
               total_price,
               delivery_fee,
               actual_payment,
               time_pay,
               delivery_method,
               time_expected_delivery,
               consignee_name,
               consignee_phone_number,
               delivery_address,
               time_create
        from `order`
        where id = #{id}
    </select>
    <select id="exist" resultType="java.lang.Boolean">
        select ifnull((
            select true
            from `order`
            where id = #{id}
        ), false)
    </select>
    <select id="checkOrderStatus" resultType="java.lang.Boolean">
        select ifnull((
            select true
            from `order`
            where id = #{id}
              and status = #{status}
        ),false)
    </select>
</mapper>